<div class="p-20">
  <div style="min-height: 200px;">
      <img src="../../../assets/banner.png" class="img-fluid img-banner">
  </div>

  <p class="alert alert-info" *ngIf="message">{{ message }}</p>

  <button class="btn" style="float: left;" (click)="addRecord()">Add Record</button>

  <br><br>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Desciption</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let record of records let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{record?.title}}</td>
        <td>{{record?.description}}</td>
        <td>
            <a href="javascript:void(0);" (click)="deleteRecord(record.name)">Delete</a>
        </td>
      </tr>

    </tbody>
  </table>  
</div>