<div class="p-20">
  <form [formGroup]="recordForm" (ngSubmit)="saveRecord()" >

    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" placeholder="Enter Title" formControlName="title">
      <div *ngIf="recordForm.controls['title'].hasError('required') && recordForm.controls['title'].touched" class="alert alert-danger">
          <small class="form-text text-muted">Title is required.</small>
      </div>
    </div>
 
    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" placeholder="Enter Description" formControlName="description">
      <div *ngIf="recordForm.controls['description'].hasError('required') && recordForm.controls['description'].touched" class="alert alert-danger">
          <small class="form-text text-muted">Desciption is required.</small>
      </div>
    </div>

    <button [disabled]="!recordForm.valid" type="submit" class="btn btn-primary">Add Record</button>
  </form>
</div>